<app-headers> </app-headers>

<div class="wrapper">

  <div class="main">
    <div class="section section-basic" id="basic-elements">
      <div class="section section-javascript" id="javascriptComponents">
        <img class="path" src="assets/img/path5.png" />

        <img class="path path1" src="assets/img/path5.png" />
<section>
        <div class="container">
          <div>
          <div class="row">
            <div class="col-md-4">
              <h1>
                <span class="text-info">  </span>
              </h1>
            </div>
          </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="card card-coin card-plain">
                <div class="card-header">
                  <img class="img-center img-fluid" src="assets/img/standard-incline.png" />
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-12 text-center">
                      <h4 class="text-uppercase">Standard</h4>
                      <span> (Simple et innovante) </span>
                      <hr class="line-primary" />
                    </div>
                  </div>
                  <div class="row">
                    <ul class="list-group">
                      <li class="list-group-item">Le compte bancaire gratuit* avec sa carte virtuelle </li>
                      <li class="list-group-item"> Solde : 500 DT</li>
                      <li class="list-group-item">Service 24h/24 - 7j/7 </li>
                    </ul>
                  </div>
                </div>
                <div class="card-footer text-center">
                  <button class="btn btn-primary btn-simple">Détails</button>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card card-coin card-plain">
                <div class="card-header">
                  <img class="img-center img-fluid" src="assets/img/premium-incline.png" />
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-12 text-center">
                      <h4 class="text-uppercase">Premium</h4>
                      <span> (Haute gamme) </span>
                      <hr class="line-success" />
                    </div>
                  </div>
                  <div class="row">
                    <ul class="list-group">
                      <li class="list-group-item">Le compte bancaire qui vous permet de mieux gérer, au quotidien</li>
                      <li class="list-group-item"> Solde : 1000 DT</li>
                      <li class="list-group-item">Service 24h/24 - 7j/7 </li>
                    </ul>
                  </div>
                </div>
                <div class="card-footer text-center">
                  <button class="btn btn-success btn-simple">Détails</button>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card card-coin card-plain">
                <div class="card-header">
                  <img class="img-center img-fluid" src="assets/img/business-incline.png" />
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-12 text-center">
                      <h4 class="text-uppercase">Business</h4>
                      <span> (Prestige) </span>
                      <hr class="line-info" />
                    </div>
                  </div>
                  <div class="row">
                    <ul class="list-group">
                      <li class="list-group-item">Le compte et la carte premium pour le quotidien et les voyages</li>
                      <li class="list-group-item"> Solde : 5000 DT</li>
                      <li class="list-group-item">Service 24h/24 - 7j/7 </li>
                    </ul>
                  </div>
                </div>
                <div class="card-footer text-center">
                  <button class="btn btn-info btn-simple">Détails</button>
                </div>
              </div>
            </div>
          </div>
        </div>
</section>


        </div>


    </div>

    <div class="section section-signup">
      <div class="container">

        <div class="row row-grid justify-content-between align-items-center">
          <div class="section">
            <div class="container">
              <div class="row justify-content-between align-items-center">
                <div class="col-lg-5 mb-5 mb-lg-0">
                  <h1 class="text-white font-weight-light">Payer vos factures en ligne</h1>
                  <p class="text-white mt-4">
                    Plus besoin de vous vous déplacez, gagnez du temps et payez directement votre facture via notre site web.
                    Une façon simple et sûre pour faire vos consultations et paiements en ligne
                  </p>
                  <a
                          class="btn btn-simple btn-danger btn-round"
                          [routerLink]="['/landing']"
                  >
                    Détails
                  </a>
                </div>
                <div class="col-lg-6">
                  <carousel >
                    <slide>
                      <img
                              alt="First slide"
                              class="d-block w-100"
                              src="assets/img/BNA-standard.png"
                      />
                    </slide>

                  </carousel>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="section section-examples" data-background-color="black">
      <img class="path" src="assets/img/path1.png" />



    </div>
    <div class="section section-download" data-background-color="black" #target>
      <img class="path" src="assets/img/path1.png" />


    </div>
    <div
            aria-hidden="true"
            aria-labelledby="myModalLabel"
            bsModal
            class="modal fade"
            #myModal="bs-modal"
            id="myModal"
            role="dialog"
            tabindex="-1"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header justify-content-center">
            <button
                    aria-hidden="true"
                    class="close"
                    data-dismiss="modal"
                    type="button"
                    (click)="myModal.hide()"
            >
              <i class="tim-icons icon-simple-remove"> </i>
            </button>
            <h4 class="title title-up">Modal title</h4>
          </div>
          <div class="modal-body">
            <p>
              Far far away, behind the word mountains, far from the countries
              Vokalia and Consonantia, there live the blind texts. Separated
              they live in Bookmarksgrove right at the coast of the Semantics, a
              large language ocean. A small river named Duden flows by their
              place and supplies it with the necessary regelialia. It is a
              paradisematic country, in which roasted parts of sentences fly
              into your mouth.
            </p>
          </div>
          <div class="modal-footer">
            <button class="btn btn-default" type="button">Nice Button</button>
            <button
                    class="btn btn-danger"
                    data-dismiss="modal"
                    type="button"
                    (click)="myModal.hide()"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
    <div
            aria-hidden="true"
            aria-labelledby="myModalLabel"
            bsModal
            class="modal fade modal-mini modal-danger modal-mini"
            #myModal1="bs-modal"
            id="myModal1"
            role="dialog"
            tabindex="-1"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header justify-content-center">
            <button
                    aria-hidden="true"
                    class="close"
                    data-dismiss="modal"
                    (click)="myModal1.hide()"
                    type="button"
            >
              <i class="tim-icons icon-simple-remove text-white"> </i>
            </button>
            <div class="modal-profile">
              <i class="tim-icons icon-single-02"> </i>
            </div>
          </div>
          <div class="modal-body">
            <p>Always have an access to your profile</p>
          </div>
          <div class="modal-footer">
            <button class="btn btn-link btn-neutral" type="button">Back</button>
            <button
                    class="btn btn-link btn-neutral"
                    data-dismiss="modal"
                    type="button"
                    (click)="myModal1.hide()"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
    <div
            aria-hidden="true"
            aria-labelledby="myModalLabel"
            bsModal
            class="modal fade modal-black"
            #myModal2="bs-modal"
            id="myModal2"
            role="dialog"
            tabindex="-1"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header justify-content-center">
            <button
                    aria-hidden="true"
                    class="close"
                    data-dismiss="modal"
                    (click)="myModal2.hide()"
                    type="button"
            >
              <i class="tim-icons icon-simple-remove text-white"> </i>
            </button>
            <div class="text-muted text-center ml-auto mr-auto">
              <h3 class="mb-0">Se connecter</h3>
            </div>
          </div>
          <div class="modal-body">

            <form role="form" #userlogin = "ngForm" (ngSubmit) = "onClickSubmit(userlogin.value)" >
              <div class="form-group mb-3">
                <div
                        class="input-group input-group-alternative"
                        [ngClass]="{ 'input-group-focus': focus1 === true }"
                >
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="tim-icons icon-email-85"> </i>
                    </span>
                  </div>
                  <input
                          class="form-control"
                          placeholder="Login"
                          (focus)="focus1 = true"
                          (blur)="focus1 = false"
                          name = "login"
                          ngModel
                  />
                </div>
              </div>
              <div class="form-group">
                <div
                        class="input-group input-group-alternative"
                        [ngClass]="{ 'input-group-focus': focus2 === true }"
                >
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="tim-icons icon-key-25"> </i>
                    </span>
                  </div>
                  <input
                          class="form-control"
                          placeholder="Password"
                          type="password"
                          (focus)="focus2 = true"
                          (blur)="focus2 = false"
                          name = "password"
                          ngModel
                  />
                </div>
              </div>
              <div class="form-check mt-3">
                <label class="form-check-label">
                  <input
                          checked="checked"
                          class="form-check-input"
                          type="checkbox"
                  />

                  <span class="form-check-sign"> </span> Remember me!
                </label>
              </div>
              <div class="text-center">
                <button class="btn btn-primary my-4" type="submit">
                  se connecter
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>


  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3"><h1 class="title">BNA Cash•</h1></div>
        <div class="col-md-3">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/home']"> Home </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/landing']"> Landing </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/register']"> Register </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/profile']"> Profile </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="https://creative-tim.com/contact-us?ref=blkdsa-footer">
                Contact Us
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://creative-tim.com/about-us?ref=blkdsa-footer">
                About Us
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://creative-tim.com/blog?ref=blkdsa-footer">
                Blog
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://opensource.org/licenses/MIT">
                License
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <h3 class="title">Follow us:</h3>
          <div class="btn-wrapper profile">
            <a
                    class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
                    href="https://twitter.com/creativetim"
                    target="_blank"
            >
              <i class="fab fa-twitter"> </i>
            </a>
            <a
                    class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
                    href="https://www.facebook.com/creativetim"
                    target="_blank"
            >
              <i class="fab fa-facebook-square"> </i>
            </a>
            <a
                    class="btn btn-icon btn-neutral btn-round btn-simple"
                    href="https://dribbble.com/creativetim"
                    target="_blank"
            >
              <i class="fab fa-dribbble"> </i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
